<footer class='footer'>
    <section class='socials'>
        <div class='app-store'>
            <a href='https://www.apple.com/' target='_blank'>
                <img
                    src='../../images/apple-app.svg'
                    alt='Apple store app download'
                />
            </a>
            <a href='https://www.play.google.com' target='_blank'>
                <img
                    src='../../images/google-app.svg'
                    alt='Google store app download'
                />
            </a>
        </div>

        <div class='social-media'>
            <a
                href='https://www.instagram.com/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/instagram.svg' alt='Instagram logo' />
            </a>
            <a
                href='https://www.facebook.com/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/facebook.svg' alt='Facebook logo' />
            </a>
            <a
                href='https://www.tiktok.com/en/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/tiktok.svg' alt='Tiktok logo' />
            </a>
            <a
                href='https://www.pinterest.com/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/pinterest.svg' alt='Pinterest logo' />
            </a>
            <a
                href='https://www.youtube.com/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/youtube.svg' alt='Youtube logo' />
            </a>
        </div>
    </section>

    <section class='copyright'>
        <p>
            This project is for educational purposes only and not for commercial
            use.
        </p>
    </section>
</footer>