<footer class='footer'>
    <section class='sign-up'>
        <form onsubmit='validateFooter(event)' class='footer-form' id='form'>
            <div class='laptop-display'>
                <div class='footer-form_intro'>
                    <h3>Sign-Up for New Educational Content</h3>
                    <p>
                        Sign up to receive Bright-Bits texts and get notified on
                        new learning games, resources, events and more!
                        (Parent's permission required)
                    </p>
                </div>

                <div class='footer-form_input-container'>
                    <div class='footer-form_input'>
                        <label for='phone'>Phone Number</label>
                        <input type='text' id='phone' name='phone' />
                        <div class='footer-error' id='phone-error'></div>
                    </div>
                    <div class='footer-form_input'>
                        <input type='submit' class='btn' value='Submit' />
                    </div>
                </div>
            </div>
            <p class='footer-form_disclaimer'>
                By entering your phone number, you agree to receive Bright-Bits
                offers, promotions, other commercial messages. You can view our
                Privacy Policy here and you may unsubscribe at any time.
            </p>
        </form>
    </section>

    <section class='socials'>
        <div class='app-store'>
            <a href='https://www.apple.com/' target='_blank'>
                <img
                    src='../../images/apple-app.svg'
                    alt='Apple store app download'
                />
            </a>
            <a href='https://www.play.google.com' target='_blank'>
                <img
                    src='../../images/google-app.svg'
                    alt='Google store app download'
                />
            </a>
        </div>

        <div class='social-media'>
            <a
                href='https://www.instagram.com/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/instagram.svg' alt='Instagram logo' />
            </a>
            <a
                href='https://www.facebook.com/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/facebook.svg' alt='Facebook logo' />
            </a>
            <a
                href='https://www.tiktok.com/en/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/tiktok.svg' alt='Tiktok logo' />
            </a>
            <a
                href='https://www.pinterest.com/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/pinterest.svg' alt='Pinterest logo' />
            </a>
            <a
                href='https://www.youtube.com/'
                target='_blank'
                class='footer-social'
            >
                <img src='../../images/youtube.svg' alt='Youtube logo' />
            </a>
        </div>
    </section>

    <section class='copyright'>
        <p>
            This project is for educational purposes only and not for commercial
            use.
        </p>
    </section>
</footer>