<header class='header' id='header'>
    <nav class='nav'>
        <a href='/' class='nav_logo'>
            <img
                src='../../images/2.svg'
                alt='Bright Bits logo'
                class='logo-img'
            />
            BRIGHT-BITS
        </a>

        <div class='nav_menu' id='nav-menu'>
            <ul class='nav_list'>
                <li class='nav_item'>
                    <a href='/' class='nav_link'>Home</a>
                </li>
                <li class='nav_item'>
                    <a href='/about' class='nav_link'>About Us</a>
                </li>
                <li class='nav_item'>
                    <a href='/spelling' class='nav_link'>Spelling Game</a>
                </li>
                <li class='nav_item'>
                    <a href='/leaderboard' class='nav_link'>Leaderboard</a>
                </li>
                <li class='nav_item'>
                    <a href='/resources' class='nav_link'>Resources</a>
                </li>
            </ul>
        </div>
    </nav>
</header>