<header class='header' id='header'>
    <nav class='nav'>
        <a href='/' class='nav_logo'>
            <img
                src='../../images/2.svg'
                alt='Bright Bits logo'
                class='logo-img'
            />
            Bright-Bits
        </a>

        <div class='nav_menu' id='nav-menu'>
            <ul class='nav_list'>
                <li class='nav_item dropdown'>
                    <p class='nav_icon'>≡</p>
                    <ul class='dropdown_menu'>
                        <li>
                            <a href='/' class='dropdown_item'>Home</a>
                        </li>
                        <li>
                            <a href='/about' class='dropdown_item'>About Us</a>
                        </li>
                        <li>
                            <a href='/spelling' class='dropdown_item'>Spelling
                                Game</a>
                        </li>
                        <li>
                            <a
                                href='/leaderboard'
                                class='dropdown_item'
                            >Leaderboard</a>
                        </li>
                        <li>
                            <a
                                href='/register'
                                class='dropdown_item'
                            >Register</a>
                        </li>
                        <li>
                            <a href='/login' class='dropdown_item'>Login</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>